@import url("https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap");

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  height: 100vh;
  background-color: #f0f0f0;
  margin: 0;
}

#search-form {
  align-self: flex-start;
}

#statsContainer {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  width: 50%;
}

#content-container {
  display: flex;
  flex-direction: column; /* Arrange child elements in a column */
  align-items: center;
  justify-content: center;
  background-color: grey;
  width: 60%;
  height: 75%;
  position: relative;
  border-radius: 25px;
}

#lyrics-container {
  display: flex;
  justify-content: center; /* Center horizontally */
  align-items: center;     /* Center vertically */
  flex-wrap: wrap;         /* Ensure wrapping of letters if necessary */
  width: 70%;             /* Ensure it takes the full width */
  z-index: 2;
  height: 70%;
  background: rgba(255, 255, 255, 0.15);
  border-radius: 25px;
}

#lyrics-background {
  filter: blur(50px);
  -webkit-filter: blur(50px);
  overflow: hidden;
  height: 100%;
  width: 100%;
  position: absolute;
  border-radius: 25px;
}

.lyric {
  display: flex;
  flex-wrap: wrap;
}

/* keep hidden under lyric so the display:none overrides flex */
.hidden {
  display: none;
  opacity: 0;
}

.letter {
  display: inline-block; 
  margin: 0;
  padding: 0;
  letter-spacing: -1em; 
  font-size: 16px; 
  opacity: 0.5;
}

.correct {
  color: white;
  opacity: 1;
}

.wrong {
  color: red;
}


#selected {
  display: block;
  font-weight: bold;
  color: white;
}

input, #comboCounter, #totalPointsOutput, #accuracyOutput {
  margin-top: 10px;
}